malware_workspace/data/benign_dataset
malware_workspace/data/ligntweight-obfuscated-benign-output
malware_workspace/data/obfuscated-benign-output
malware_workspace/data/obfuscated-malicious-output
crawl/benign-js-crawl/.idea
malware_workspace/.idea
static_analysis/js-parser/.idea
config.py
